<%- include('./partials/header') -%>

<link rel="stylesheet" href="style.css">

<div class="home-container">
    <h2>Created to arrange multiple projects at one place.</h2>
    <hr>
</div>

<div class="project-display-container">
    <%- include('display') -%>
    <%- include('display') -%>
    <%- include('display') -%>
    <%- include('display') -%>
</div>

<%- include('./partials/footer') -%>
